.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star__container {
    font-size: 40px;
}

.star {
    padding: 5px;
    color: gray;
    cursor: pointer;
}

.star__filled {
    color: yellow;
}